* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 22rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.card__img img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.card__details {
  padding: 1.375rem 1rem;
  text-align: center;
}

.card__details h2 {
  padding-bottom: 1rem;
  color: hsl(218, 44%, 22%);
}

.card__details p {
  color: hsl(220, 15%, 55%);
}
